
<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{title}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input class="form-control" type="text" [(ngModel)] = 'filter'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{filter}}</h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='cars && cars.length'>
                <thead>
                    <tr> 
                        <th>Car ID</th>
                        <th>Make and Model</th>
                        <th>Price</th>
                    </tr>
                    <tr *ngFor='let car of filteredCars'>
                        <td>{{car.carId}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.price | currency: 'EUR':true}}</td>
   
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
