<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{birthday | date: 'mediumDate'}}
    </div>
 </div>

 <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{birthday | date: 'shortDate'}}
        </div>
</div>