<div class="container">
  <div *ngFor='let joke of jokes' class="card-block">
    <h4 class="card-title">{{joke.setup}}</h4>
    <p class="card-text" [hidden]="joke.hide">{{joke.punchline}}</p>
    <p class="card-text"><a (click) = 'joke.toggleHide()' class="btn btn-warning">{{joke.hide ? 'Show': 'Hide'}} Punchline</a></p>
  </div>
</div>