<div class="container">
  <div class="card-block">
    <h4 class="card-title">JOKE SETUP HERE</h4>
    <p class="card-text" [hidden]="joke.hide">PUNCLINE HERE</p>
    <p class="card-text"><a class="btn btn-warning">show/hide punchinline</a></p>
  </div>
</div>