
<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input class="form-control" type="text"/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by:</h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr> 
                        <th>Car ID</th>
                        <th>Make and Model</th>
                        <th>Price</th>
                    </tr>
                    <tr>
   
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <td></td>
                       <td></td>
                       <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
